*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center ;
    background-color: brown;
}
#card{
    height: 450px;
    width: 350px;
    border-radius: 15px;
    background-color:darkgray;
    padding: 15px;
    text-align: center;
}
#card img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
}
#card h1{
    font-size: 35px;
    margin: 5px 0;
}
#btn{
    background-color: rgb(0, 0, 255);
    border-radius: 25px;
    padding: 12px;
    font-weight: 700;
    cursor: pointer;
    border: solid;
}
#card h5{
   font-size: 20px;
    color:darkblue;
    padding: 15px;
}