*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html{
    height: 100%;
    width: 100%;   
}
body{
    background-color: rgb(0, 132, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#card{
    height: 440px;
    width: 300px;
    border-radius: 15px;
    overflow: hidden;
    border: 3px solid black;
    background-color: #fff;
    position: relative;
}
#storiyaan{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #dadada;
    padding-top: 10px;
    padding-left: 5px ;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
#storiyaan::-webkit-scrollbar{
    display: none;
}
.story{
    border: 3px solid red;
    height: 80px;
    width: 80px;
    overflow: hidden;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
#full-screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}