*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffff;
}
body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
#box{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#clock{
    height: clamp(250px,70vw,300px);
    width: clamp(250px,70vw,300px);
    background-color: rgb(82, 79, 79,0.5);
    border-radius: 50%;
    border: 2px solid rgb(236, 228, 228,0.3);
    box-shadow:0px 0px 30px rgba(172, 169, 169, 0.9);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#clock span{
    position: absolute;
    transform:rotate(calc(30deg*var(--i)));
    inset: 12px;
    text-align: center;
}
#clock span b{
    transform: rotate(calc(-30deg*var(--i)));
    display: inline-block;
    font-size: clamp(14px,3vw,20px);
}
#clock::before{
    content: '';
    position: absolute;
    height: clamp(6px,2vw,10px);
    width: clamp(6px,2vw,10px);;
    border-radius: 50%;
    background-color: white;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    border-radius: 10px ;
}
.hand{
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: flex-end;
    transform-origin: center bottom;
}
#sec i{
    height: 115px;
    width: 2px;
}
#min i{
    width: 3px;
    height: 100px;
}
#hour i{
    width: 4px;
    height: 80px;
}

/* -----------------------StopWatch----------------------------- */
#stopwatch{
    display: flex;
    align-items: center;
    justify-content: center;
}
#buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 255, 255);
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}
button{
    color: black;
    font-size: 20px;
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
}
#swatchbox{
    height: 100px;
    width: 300px;
    border-radius: 5px;
}
#secbox,#minbox,#hourbox{
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid ;
    border-radius: 10px;
    font-size: 25px;
    margin: 5px;
}
#hourbox{
    background-color: red;
}
#minbox{
    background-color: #f869d4;
}
#secbox{
    background-color: darkblue;
}
#boxes{
    display: flex;
    align-items: center;
    justify-content: center;
}
#a{
    display: flex;
    align-items: center;
    justify-content: center;
}